<footer class="footer">
    <p>
        <b>Ontwerp Huisstijl &amp; development huisstijlgids:</b> 
        <span class="extra-text-margin nowrap">Geoffrey Van Meirhaeghe</span> | 
        <span class="extra-text-margin nowrap">Student Graphic Design</span> | 
        
        <span class="extra-text-margin"><span class="no-wrap">Arteveldehogeschool Campus</span><span class="nowrap"> Grafische &amp; Digitale Media</span></span>
        | 
        <span class="extra-text-margin nowrap">Schooljaar 2018 - 2019</span>
    </p>
</footer>