<div>
    <header class="related-header" {% if page.related-header %} style="background-image: url('{{ page.related-header }}');" {% endif %}{% if page.custom_header %} id="tall-header" {% endif %}>
        {% if page.title == "Home" %}
        <img id="home-component" src="/assets/images/header/cgglogo-white-header.png">
        <h1 id="home-header-title">Visual Identity &amp; Website</h1>
            
        <p>
            <a href="#overview">Enkele voorbeelden
                <br><span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </p>          
            
            {% else %}
                    <div class="component-img" class="col-sm-12">
                        <img src="{{ page.component-image }}">
                    </div>
        {% endif %}
    </header>
</div>