<nav class="sidebar-left sidebar">
    
    <div class="wrap-collapsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">Design Components</label>
        
        <div class="collapsible-content">
            <ol>
                {% for item in site.data.sidebar.docs %}
                <li><a href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</nav>